<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <style>
      .nav-link.active {
          color: #C0C4C8 !important; /* Bootstrap primary color */
          text-decoration: underline;
          font-weight: bold;
      }
    </style>


    <title>{% block title %}Home{% endblock %}</title>


  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="/dashboard">UOW Course Planner</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

              {% if user.is_authenticated %}
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link {{ 'active' if request.endpoint == 'views.landing' else '' }}" id="home" href="{{ url_for('views.landing') }}">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {{ 'active' if request.endpoint == 'views.dashboard' else '' }}" id="dashboard" href="/dashboard">Dashboard</a>
                      </li>
                      <li class="nav-item">
                        {% if current_user.is_authenticated and current_user.profile.initial_setup_complete %}
                          <a class="nav-link {{ 'active' if request.endpoint == 'auth.update_setup' else '' }}" href="{{ url_for('auth.update_setup') }}">Update Course Details</a>
                        {% endif %}
                      </li>
                  </ul>
                  <div class="ml-auto d-flex align-items-center">
                    <span class="navbar-text text-grey">
                      Welcome, {{ user.firstName }}!
                    </span>
                    <span class="navbar-text text-white mx-2">
                      |
                    </span>
                    <a class="nav-link d-inline-block text-white {{ 'active' if request.endpoint == 'auth.logout' else '' }}" id="logout" href="/logout">Logout</a>
                  </div>
              {% else %}
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link {{ 'active' if request.endpoint == 'views.landing' else '' }}" id="home" href="{{ url_for('views.landing') }}">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {{ 'active' if request.endpoint == 'auth.login' else '' }}" id="login" href="/login">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {{ 'active' if request.endpoint == 'auth.sign_up' else '' }}" id="signUp" href="/sign-up">Sign Up</a>
                      </li>
                  </ul>
              {% endif %}
          </div>
      </div>
  </nav>



    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      {% if category == 'error' %}
      <div class="alert alert-danger alert-dismissable fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert alert-success alert-dismissable fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      {% endfor %}
    {% endif %}
    {% endwith %}

    <div class = "container">
      {% block content %}
      {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

  </body>