<!-- verify_email_instruction.html -->

{% extends 'base.html' %}

{% block content %}



<head>

    <link rel="stylesheet" href="static/email.css">

    <style>
        body {
            background-color: #dadbe7;
            margin: 0;
            font-family: 'Arial', sans-serif;
        }

    </style>

</head>

    <div id="verification-container">
        <h2>Please Verify Your Email</h2>
        <p>We have sent a verification link to your email. Please click on the link to verify your email before proceeding.</p>
    </div>
{% endblock %}
